<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <h1><pagename>{% block pagename %}Menu{% endblock %}</pagename></h1>
</head>
<menu>
    {% block menu %}
        <p><a href="/">Главная</a></p>
        <p><a href="/second/">Магазин</a></p>
        <p><a href="/third/">Корзина</a></p>
        <p><a href="/sign_up_by_django/">Регистрация Django</a></p>
        <p><a href="/sign_up_by_html/">Регистрация html</a></p>
    {% endblock %}
</menu>

<content>
    {% block content %}
    {% endblock %}
</content>
<body>

</body>
</html>